@model IEnumerable<WebApplication1.Models.lessonMode>
<table class="table" border="1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tittle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentLenth)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tittle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfessorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentLenth)
                </td>

            </tr>

        }
    </tbody>
</table>